body{
    font-family: 'Montserrat', sans-serif;
}

.menu ul{
    padding-top: 10px;
    background-color: #ffffff;
    list-style: none;
    text-align: right;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-weight: 600;
}

.menu ul li{
    display: inline;
}

.menu ul li a {
    padding: 10px 100px 0px 10px;
    display: inline-block;

    /* visual do link */
    background-color:#ffffff;
    color: #333;
    text-decoration: none;
}

.banner{
    background-image: linear-gradient(to left, #fce7f6 , #e3eaf8);
    border-radius: 50px;
    height: 955px;
    
}
h1{
    font-size:90px;
    font-weight: 400;
}


/*carrocel tegs*/

.carrosel{
    width: 575px;
    height: 575px;
    position: relative;
    left: 55%;
    top: -25em;
}

.valor1{
    background-color: #ffffff;
    border-radius: 10px;
    width: 330px;
    height: 105px;
    text-align: left;
    margin-left: 90px;
    margin-top: 60px;
    padding-left:50px;
    padding-top: 10px;
}

#container{
    width: 575px;
    height: auto;
    margin: 15px auto;
}
.principal{
    width: 575px;
    height: 575px;
    border: solid black 2px;
    overflow: hidden;  /* para esconder as outras imagesn*/

}

.slide{
    display: flex;
    width: 300%;
    transition: all 0.8s;
}

label{
    position: relative;
    left: 10px;
    bottom: -47em;
}

label img{
    padding-top: 80px;
    cursor: pointer;
    float: left;
    width: 100px;
    height: auto;
  
  
}

#foto2:checked ~ .principal  .slide{
    margin-left: -100%;
}

#foto3:checked ~ .principal  .slide{
    margin-left: -200%;
}

input[name="grupo"]{
    display: none;
}

input[name="grupo"]:checked + label img {
    margin-right: 200px;
    width: 126px;
    justify-items: auto;
}

input[id="foto1"]:checked + .valor1 {
    opacity: 100%;
}




