body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden
}

/*menu*/
header {
    display: block;
    width: 1444px;
    margin: 30px auto;
}

#logo-p{
    display: flex;
    float: left;
    top:20px;
}

#logo-p img{
    margin-right: 15px;
    margin-top: -8px;
}

h2{
    font-size:35px;
    font-weight: 900;
    display: inline;
    top:10px;
}

.menu ul{
    text-align: right;
    display: block;
    font-weight: 600; 
}

.menu ul li{
    display: inline;  
}

.menu ul li a {
    padding: 5px 10px 5px 6%;
    display: inline-block;/* visual do link */
    color: #333;
    text-decoration: none;
    font-size: 20px;
    
   
}

.menu ul li a:hover{
    color:#FF0073;
}

/* estilisando background*/

.circulo-1, .circulo-2, .circulo-3, .circulo-4, .circulo-5, .circulo-6{
    background-image: radial-gradient(circle , #fed7e9 , #f7f9fd);
    border-radius: 100%;
    position:absolute ;

}

.circulo-1{
    padding: 150px;
    width: 110px;   
    margin-top: 150px;
    left: -150px;
}

.circulo-2{
    padding: 30px;
    width: 20px;
    margin-top: 750px;
    left: 100px;
    
}

.circulo-3{
    padding: 120px;
    width: 55px;
    margin-top:10px;
    left: 60%;  
}

.circulo-4{
    padding: 30px;
    width: 20px;
    margin-top: 200px;
    left: 60%;
}

.circulo-5{
    padding: 55px;
    width: 35px;
    margin-top: 750px;
    left: 30%;
}

.circulo-6{
    padding: 45px;
    width: 30px;
    margin-top: 800px;
    left: 90%;
}

/*fim menu*/


main{
    background-image: linear-gradient(to left, #fce7f6 , #e3eaf8);
    border-radius: 50px;
    height: 955px;
}

.banner{
    display: block;
    width: 1444px;
    margin: 30px auto;
    padding: 150px 0px 0px 0px;
}

/*parei aqui*/


.texto-baner ,.texto-baner-2{
    display: inline;
    position: relative;
}

.texto-baner{ 
    font-size:90px;
    font-weight: 400;
}

.texto-baner h1 strong{
    font-weight: 900;
}

.texto-baner-2 p{
    margin: 6em auto;
    font-weight: 700;
    font-size:22px;
}

.buy{
    background-color: #ffffff;
    color:#FF0073;
    font-size: 24px;
    font-weight: 700;
    border-radius: 50px;
    padding: 20px 90px 20px 90px;
    border: none;
    transition: 0.8s;
}

.buy:hover{

    background-color: #fad1e3;
    color:#ff4f9e;
    transition: 0.8s;
}

/*carrocel tegs*/

.carrosel{
    position: absolute;
    left: 55%;
    top:4em;
}

.valor1 ,.valor2 ,.valor3{
    background-color: #ffffff;
    border-radius: 20px;
    width: 180px;
    height: 90px;
    text-align: left;
    margin-top: 60px;
    padding: 10px 0px 0px 50px;
    position: absolute;
    top: 730px;
    overflow: hidden;
}

.valor1{
    margin-left: 90px;
}

.valor2{
    margin-left: 770px;
}

.valor3{
    margin-left: 1440px;  
}
  
section #container {  /*  essa section que faz as outras imagens invisiveis  */
    display: inline-block;
    margin-top: 0px;
    height: 0px;
    width: 600px;
}

.principal{
    width: 575px;
    height: 800px;
    overflow: hidden;  /* para esconder as outras imagesn*/ 
}

.slide{
    display: flex;
    width: 300%;
    transition: all 0.5s;
}

label{
    position: relative;
    left: 10px;
    bottom: -47em;
    z-index: 1;/*produto por cima do preço*/
}

label img{
    cursor: pointer;
    width: 100px;
}

/*tranziçao das imagens no banner*/

#foto1:checked ~ .principal  .slide .valor2 ,
#foto1:checked ~ .principal  .slide .valor3 ,
#foto2:checked ~ .principal  .slide .valor1 ,
#foto2:checked ~ .principal  .slide .valor3 ,
#foto3:checked ~ .principal  .slide .valor1 ,
#foto3:checked ~ .principal  .slide .valor2{
    display: none;
}

#foto2:checked ~ .principal  .slide{
    margin-left: -100%;
}

#foto3:checked ~ .principal  .slide{
    margin-left: -200%;
}

input[name="grupo"]{
    display: none;
}

input[name="grupo"]:checked + label img {
    margin-right: 200px;
    width: 126px;
    justify-items: auto;
}

/*inicio responsvidade*/

@media screen and (max-width: 1000px){
    header{
        display:grid ;
        width: 100%;
        overflow-x: hidden;
    }

    #logo-p{
        position: relative;
        margin:50px auto 0px auto;;
        display: flex;
    }

    #logo-p img{
        width: 100px;
        height:100px;
    }

    h2{
        font-size:80px;   
    }
    .menu ul{
        padding-top:30px;
        padding-bottom: 50px;
        width: 120%; 
        position: absolute;
        display: inline;
        text-align: left;
    }

    .menu ul li{
        display: inline;
        margin-bottom:5px;
        
    }
    
}

/*para celulares*/

@media screen and (max-width: 500px) {


    body{
        width: 160vw;
        margin: 5% auto 5% auto;
    }


    .banner ,header , main {
        display: block;
        width: 100%;
        margin: auto 25px auto 25px;
        overflow-x: hidden;
    }

    header{
        height: 580px;
        width: auto;
    }

    main ,.banner{
        background-image: linear-gradient(to left, #fce7f6 , #e3eaf8);
        border-radius: 50px;
        height: 75em;
        width: 160vw;
        margin: auto 5% auto 5%;
        
    }

    #logo-p{
        display: inline;
        margin: 10px auto 10px auto; 
        text-align: center;    
    }

    #logo-p img{
        width: 100px;
        height: 100px;
    }

    h2{
        font-size:80px;
        text-align: center;
    }

    /*menu responsivo*/

    .menu ul{
        padding-top:20px;
        padding-bottom: 20px;
        position: relative;
        display: inline-block;
        text-align: center;
        width:100%;
    }

    .menu ul li{
        display: inline;
        text-align: center;   
    }

    .menu ul li a {
        padding: 10px auto  10px auto ;
        display: block;/* visual do link */
        color: #333;
        text-decoration: none;
        font-size: 70px;
       
    }
    
    .menu ul li a:hover{
        text-decoration: none;
        color:#FF0073;
        padding: 10px auto 15px auto;
        display: block;/* visual do link */
        text-decoration: none;
       
    }

    /*banner texto reponsivo*/
       
    .texto-baner{
        font-size:34px;
        text-align: justify;        
    }

    .texto-baner h1{
        font-size: 60px;
        margin: 5px 20px 5px 2px;
        padding: 0px 20px 0px 20px
    }

    .texto-baner-2{
        display: block;
        font-weight: 700;
        position: relative;
        text-align: justify;
    }
    
    .texto-baner-2 p{
        font-size:30px;
        margin: 100px 10px 0 10px;
        margin-bottom: 120px;
        padding: 0px 10px 0px 10px;
    }

    .texto-baner-2 .buy{
        position:relative;
        margin: 0px auto 0 auto;
        z-index:initial;
    }

    /*carrosel responsivo*/

    section .carrosel{
        width: 100vw;
    }

    .carrosel{
        display: inline;
        position: relative;
        left: 0%;

    }

    section #container {
        display: inline-block;
        margin-top: 0px;
        height: 0px;
        position: relative;    
    }
    
    .slide{
        overflow: hidden;
    }


    .principal{
        margin-left: 9%;
        margin-bottom: 0px;
        overflow: hidden;  /* para esconder as outras imagesn*/ 
    }

    .fotos-p{
        margin-right: 200px;
    }

    #foto2:checked ~ .principal  .slide{
        margin-left: -100%;
    }
    
    #foto3:checked ~ .principal  .slide{
        margin-left: -200%;
    }
     
    .principal .slide .fotos-p{
        display: block;
        width: 380px; 
    }

    .circulo-3, .circulo-6 ,.valor1, .valor2 , .valor3{
        display: none;
    }

    label{
        position:relative ;
        margin: 0px auto 0px auto  ;
        bottom: 1em;

    }
    
    label img{
        text-align: center;
        cursor: pointer;
        float: left;
        width: 100px;
        height: auto;   
    }

    /*comportamento do botao carrocel em mobile*/

    input[name="grupo"]:checked + label img {
        margin-right: 0px;
        text-align: center;
    }

    /*posicionando o circulo*/

    .circulo-1{
        padding: 120px;
        width: 60px;   
        position:absolute ;
        margin-top: 150px;
        left: 50px;
    }
}